/* Add CSS Styling */

.first,
.second {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.first {
    background-color: #17171A;
    color: #FFFFF0;
}

.second {
    background-color: #FFEE8C;
}