body {
  box-sizing: border-box;
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  padding: 10px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  margin-bottom: 10px;
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  font-size: 18px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}